@import '@styles/base';

.container {
  @include flex-items-center;
  gap: 1rem;
  .wrapper {
    border-left: 3px solid $color-text-secondary;
    padding: 0.5rem 0 0.5rem 2rem;
    margin-left: 1.25rem;
    @include flex-items-center;
    gap: 1rem;

    .avatarUser {
      align-self: flex-start;
      margin: 0.25rem 0 0 0.25rem;
    }
    .content {
      @include flex-column;
      gap: 0.25rem;
      .name {
        cursor: pointer;
        font-size: 0.75rem;
        &:hover {
          text-decoration: underline;
        }
      }
      .comment {
        font-size: 0.85rem;
        color: $color-text-secondary;
      }
      .reply {
        cursor: pointer;
        font-size: 0.6rem;
        width: fit-content;
        &:hover {
          color: $color-text-secondary;
        }
      }
    }
  }
}
