@import '@styles/base';

.loading {
  @include flex-center;
  height: 100vh;
}

.container {
  @include flex-column;
  gap: 1.5rem;
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 0 2rem;
  .containerHeader {
    @include flex-center-column;
    gap: 1rem;
    @include apply-at-xs2-size {
      @include flex-items-center;
      flex-direction: row;

      justify-content: space-between;
    }
    .actions {
      @include flex-items-center;
      gap: 1rem;
      .button {
        cursor: pointer;
        @include flex-items-center;
        gap: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid;
        padding: 0.25rem 0.75rem;
        font-size: 0.75rem;
        .icon {
          @include box(0.75rem);
        }
      }
      .buttonEdit {
        border-color: $color-secondary;
        &:hover {
          background-color: $color-secondary;
        }
      }
      .buttonDelete {
        border-color: $color-primary;
        &:hover {
          background-color: $color-primary;
        }
      }
    }
  }
  .postTitle {
    font-size: 2rem;
  }
  .postAuthor {
    cursor: pointer;
    @include flex-items-center;
    gap: 0.5rem;
    font-size: 0.85rem;
    color: $color-text-secondary;
    margin: 0.5rem 0;
    width: fit-content;
    &:hover {
      text-decoration: underline;
    }
    &:hover .avatar {
      box-shadow: 0 0 10px 1px $color-secondary;
    }
    .avatar {
      @include box(1.5rem);
    }
  }
  .postImage {
    max-width: 40rem;
    width: 100%;
    object-fit: cover;
    border: 5px solid transparent;
    border-image: linear-gradient(45deg, $color-primary, $color-secondary) 10; /* Adjust the gradient angle and colors */
    border-image-slice: 1;
    background-clip: content-box;
  }
  .postContent {
    max-width: 40rem;
    img {
      display: none;
    }
    iframe {
      max-width: 50rem;
      width: 100%;
      height: 20rem;
      object-fit: cover;
      margin: 1rem 0;
      border-radius: 1rem;
      box-shadow: 0 0 10px 1px $color-secondary;
    }
  }

  .commentContainer {
    @include flex-column;
    border-top: 1px solid $color-text-primary;
    padding: 1rem 0;
    gap: 1rem;
    .commentTitle {
    }
    .commentInputContainer {
      @include flex-column;
      gap: 1rem;

      .commentInput {
        font-family: 'Quantico', 'sans-serif';
        box-sizing: border-box;
        border-radius: 0.5rem;
        resize: none;
        width: 100%;
        height: 4rem;
        padding: 0.5rem;
        background-color: transparent;
        color: $color-text-primary;
        outline: 0;
      }
      .commentButton {
        cursor: pointer;
        font-family: 'Quantico', 'sans-serif';
        width: fit-content;
        align-self: flex-end;
        padding: 0.25rem 0.75rem;
        border-radius: 0.25rem;
        color: $color-text-primary;
        background: linear-gradient(to bottom, $color-secondary, $color-primary);
        border: none;
        transition: all 0.2s ease;
        @include hover-shine;
      }
      .divider {
        height: 0;
        border-top: 1px solid $color-text-secondary;
      }
    }
    .noComments {
      text-align: center;
    }
  }
}
