$color-white: #fff;
$color-white-fade: rgba(255, 255, 255, 0.6);
$color-dark-blue: #001a41;
$color-dark-red: rgb(54, 0, 0);
$color-light-blue: #e8eef1;

$color-navbar: #ffeb94;
$color-primary: #ca0e00;
$color-secondary: #f2a700;
